li {
  list-style-type: none;
}

.wrapping {
  height: 100vh;
  overflow: hidden;
}

.scroll-snap-wrapper {
  overflow: scroll;
  height: 100vh;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.scroll-snap-child {
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}
