li {
  list-style-type: none;
}

.voiceGraph {
  background-color: rgba(128, 128, 128, .8);
}

/* CONTACT FORM */

.contactBody {
  background-color: #B4CAD7;
}

.thankYouMessage {
  background-color: #EEEEEE;
  border-radius: 7px;
  margin: auto;
  width: 50%;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.thankYouTitle {
  width: 80%;
  margin: auto;
  padding: 30px 0;
}

.thankYouBtn {
  padding-bottom: 30px;
  color: white;
}

.contactForm {
  background-color: #EEEEEE;
  width: 60%;
  display: block;
  margin: auto;
  text-align: center;
  border: 1px solid black;
  border-radius: 7px;
  padding: 20px;
}

.nameInput {
  margin: 1px 0;
}

.emailInput {
  margin: 2px 0;
}

.messageInput {
  margin-bottom: 1px;
}

/* CONTACT FORM END */
